@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.TextField-player-name.MuiTextField-root {
    min-width: 500px;
}

.game-icon svg {
    @apply text-9xl ml-4;
}

.TextField-player-name .MuiInputBase-input {
    @apply text-5xl font-bold;
}

.TextField-answer .MuiInputBase-input {
    font-size: 28px;
    text-align: center;
}

.box-avatar {
    width: 100%;
    height: 90px;
    background-position: center;
    background-size: cover;
    background-color: #3f474b;
    cursor: pointer;
}

.box-avatar:hover {
    background-color: #747d81;
    opacity: 0.7;
}
